@media (min-width:768px) {



    .no-pad-left-right {
        padding-left: 0px;
        padding-right: 0px;
    }

    .no-padding-left {
        padding-left: 0px;
    }

    .no-padding-right {
        padding-right: 0px;
    }
}

.btn {
    border-radius: 0px;
}

.form-no-bottom{

}
.form-no-bottom .form-group {
    margin-bottom:5px;
}


    table tbody tr td [class^=icheck]{
        background-color:#fff;
    }
    /* *********  tables styling  ******************************* */
    .bulk-actions {
        display: none;
    }
.icheckbox_minimal-blue {
    background-color:#fff;
}

table.countries_list {
    width: 100%;
}

    table.countries_list td {
        padding: 0 10px;
        line-height: 30px;
        border-top: 1px solid #eeeeee;
    }

.dataTables_paginate a {
    padding: 6px 9px !important;
    background: #ddd !important;
    border-color: #ddd !important;
}

.paging_full_numbers a.paginate_active {
    background-color: rgba(38, 185, 154, 0.59) !important;
    border-color: rgba(38, 185, 154, 0.59) !important;
}

button.DTTT_button, div.DTTT_button, a.DTTT_button {
    border: 1px solid #E7E7E7 !important;
    background: #E7E7E7 !important;
    box-shadow: none !important;
}

table.jambo_table {
    border: 1px solid rgba(221, 221, 221, 0.78);
}

    table.jambo_table thead {
        background: rgba(52, 73, 94, 0.94);
        color: #ECF0F1;
    }

    table.jambo_table tbody tr:hover td {
        background: rgba(38, 185, 154, 0.07);
        border-top: 1px solid rgba(38, 185, 154, 0.11);
        /*border-bottom: 1px solid rgba(38, 185, 154, 0.11);*/
    }

    table.jambo_table tbody tr.selected {
        background: rgba(38, 185, 154, 0.16);
    }

        table.jambo_table tbody tr.selected td {
            border-top: 1px solid rgba(38, 185, 154, 0.4);
            border-bottom: 1px solid rgba(38, 185, 154, 0.4);
        }

.dataTables_paginate a {
    background: #ff0000;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_info {
    width: 60%;
    float: left;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

table.dataTable th.focus,
table.dataTable td.focus {
    outline: 2px solid #1ABB9C !important;
    outline-offset: -1px;
}

table.display {
    margin: 0 auto;
    clear: both;
    width: 100%;
}

    table.display thead th {
        padding: 8px 18px 8px 10px;
        border-bottom: 1px solid black;
        font-weight: bold;
        cursor: pointer;
    }

    table.display tfoot th {
        padding: 3px 18px 3px 10px;
        border-top: 1px solid black;
        font-weight: bold;
    }

    table.display tr.heading2 td {
        border-bottom: 1px solid #aaa;
    }

    table.display td {
        padding: 3px 10px;
    }

        table.display td.center {
            text-align: center;
        }

    table.display thead th:active, table.display thead td:active {
        outline: none;
    }

.dataTables_scroll {
    clear: both;
}

.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}

.top .dataTables_info {
    float: none;
}

.clear {
    clear: both;
}

.dataTables_empty {
    text-align: center;
}

tfoot input {
    margin: 0.5em 0;
    width: 100%;
    color: #444;
}

    tfoot input.search_init {
        color: #999;
    }

td.group {
    background-color: #d1cfd0;
    border-bottom: 2px solid #A19B9E;
    border-top: 2px solid #A19B9E;
}

td.details {
    background-color: #d1cfd0;
    border: 2px solid #A19B9E;
}

.example_alt_pagination div.dataTables_info {
    width: 40%;
}

.paging_full_numbers {
    width: 400px;
    height: 22px;
    line-height: 22px;
}

    .paging_full_numbers a:active {
        outline: none;
    }

    .paging_full_numbers a:hover {
        text-decoration: none;
    }

    .paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
        border: 1px solid #aaa;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 2px 5px;
        margin: 0 3px;
        cursor: pointer;
    }

    .paging_full_numbers a.paginate_button {
        background-color: #ddd;
    }

        .paging_full_numbers a.paginate_button:hover {
            background-color: #ccc;
            text-decoration: none !important;
        }

    .paging_full_numbers a.paginate_active {
        background-color: #99B3FF;
    }

table.display tr.even.row_selected td {
    background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
    background-color: #9FAFD1;
}
table.jambo_table thead th div[class^="icheckbox"] {
    background-color: #fff;
}
/* *********  /tables styling  ****************************** */
.modal .modal-body {
    overflow: hidden;
}
table[data-dttable] tbody tr td.function span:first-child{
    margin-right:5px;
    padding-right: 3px;
    position:relative;
    /*border-right: 1px solid #cecece;*/
}
table[data-dttable] tbody tr td.function span:first-child:after{
    width: 1px;
    height: 29px;
    display: table;
    content: '';
    position: absolute;
    top: -5px;
    right: 0px;
    color: red;
    background-color: #cecece;
}

.input-id{

}
ul.select2-results__options{
    max-height:300px !important;
}
/*css for search datatable*/
.dataTables_filter input[type=search]{
    width:60%;
}
.dataTables_filter label{
    width:100%;
    text-align:right !important;
}
div[data-notify=container]{
    z-index:9999 !important;
}


/*iCheck custom*/
/* iCheck plugin Flat skin, green
----------------------------------- */
/*[class^="icheckbox_flat"],
[class^="iradio_flat-green"] {
    width: 18px;
    height: 18px;
}

[class^="icheckbox_flat"] {
    background-position: -1px -1px;
}

.checked[class^="icheckbox_flat"] {
    background-position: -23px -1px;
}

.disabled[class^="icheckbox_flat"] {
    background-position: -45px -1px;
}

.checked.disabled[class^="icheckbox_flat"] {
    background-position: -67px -1px;
}

.iradio_flat-green {
    background-position: -88px 0;
}

    .iradio_flat-green.checked {
        background-position: -110px 0;
    }

    .iradio_flat-green.disabled {
        background-position: -132px 0;
        cursor: default;
    }

    .iradio_flat-green.checked.disabled {
        background-position: -154px 0;
    }*/

/*end iCheck custom*/

/*  css loading panel  */
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 110, 175, 0.75) 1.5em 0 0 0, rgba(0, 110, 175, 0.75) 1.1em 1.1em 0 0, rgba(0, 110, 175, 0.75) 0 1.5em 0 0, rgba(0, 110, 175, 0.75) -1.1em 1.1em 0 0, rgba(0, 110, 175, 0.5) -1.5em 0 0 0, rgba(0, 110, 175, 0.5) -1.1em -1.1em 0 0, rgba(0, 110, 175, 0.75) 0 -1.5em 0 0, rgba(0, 110, 175, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 110, 175, 0.75) 1.5em 0 0 0, rgba(0, 110, 175, 0.75) 1.1em 1.1em 0 0, rgba(0, 110, 175, 0.75) 0 1.5em 0 0, rgba(0, 110, 175, 0.75) -1.1em 1.1em 0 0, rgba(0, 110, 175, 0.75) -1.5em 0 0 0, rgba(0, 110, 175, 0.75) -1.1em -1.1em 0 0, rgba(0, 110, 175, 0.75) 0 -1.5em 0 0, rgba(0, 110, 175, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*  end loading panel*/