
@{
    Layout = null;
}
<style>
    #modal-customer-add .form-horizontal .control-label {
        text-align: left;
    }
</style>
<div class="modal fade" id="modal-customer-update">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Cập nhật khách hàng: <b class="lbl-name btn-link" style="font-weight:bold;"></b></h4>
            </div>
            <form class="form-horizontal form-no-bottom" id="frm-update-customer" onsubmit="return false" novalidate>
                <input type="hidden" name="ID" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group has-feedback">

                                <div class="col-md-12">
                                    <p class="text-bold">Ảnh đại diện <span class="text-required">(*)</span>: </p>
                                    <img class="img-responsive img-thumbnail" id="img-customer-thumbnail-edit" src="~/Uploads/Images/Koala.jpg" />
                                    <div class="input-group" style="margin-top:15px;">
                                        <input readonly class="form-control" name="Thumbnail" alt="" />
                                        <span class="input-group-btn">
                                            <button type="button" id="btn-update-customer-browser" class="btn btn-primary">Browser</button>
                                        </span>
                                        <span class="help-block"></span>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-7">

                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Tên khách hàng <span class="text-required">(*)</span>: </label>
                                <div class="col-md-8">
                                    <input class="form-control" name="Name" placeholder="Tên khách hàng" />
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Tiêu đề: </label>
                                <div class="col-md-8">
                                    <input class="form-control" name="Title" placeholder="Tiêu đề" />
                                    <span class="help-block"></span>
                                </div>

                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Email <span class="text-required">(*)</span>: </label>
                                <div class="col-md-8">
                                    <input class="form-control" type="email" name="Email" placeholder="Email" />
                                    <span class="help-block"></span>
                                </div>

                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Địa chỉ <span class="text-required">(*)</span>: </label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="Address" placeholder="Địa chỉ" />
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Website: </label>
                                <div class="col-md-8">
                                    <input class="form-control" name="Website" placeholder="Website" />
                                    <span class="help-block"></span>
                                </div>

                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Số điện thoại: </label>
                                <div class="col-md-8">
                                    <input class="form-control" name="PhoneNumber" placeholder="Số điện thoại" />
                                    <span class="help-block"></span>
                                </div>

                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label col-md-4">Trạng thái: </label>
                                <div class="col-md-8">
                                    <select class="form-control" name="Status">
                                        <option value="1">Sử dụng</option>
                                        <option value="0">Không sử dụng</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-update-customer-submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp; Lưu</button>
                    <button type="button" data-id="" onclick="CUSTOMER_DELETE_CUSTOMER(this);" id="btn-update-customer-delete" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;&nbsp; Xóa</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-remove"></i>&nbsp;&nbsp; Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>
