@model ICB.Business.Models.News
@{
    ViewBag.Title = Model.Caption;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section TopSlider{

    <section class="widget-area-1 clearfix">
        <div class="widget kopa-list-post-no-thumb clearfix">
            <span></span>

            <h3 class="widget-title">New<span>Stories</span></h3>

            <div class="list-post-main">
                <div class="owl-carousel owl-carousel1">
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index9e97.html?p=1486">Driving in Leather Driving Gloves</a></h4>
                            <span class="entry-date">June 19, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index3f68.html?p=1681">5 Maneras de Ahorrar en Los Viajes en Familia</a></h4>
                            <span class="entry-date">June 19, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexd5ec.html?p=1189">Drunk In Love &#8211; Beyonce ft. Jay Z</a></h4>
                            <span class="entry-date">June 10, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index62bc.html?p=754">The Gallery Library of Sammy</a></h4>
                            <span class="entry-date">May 15, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexd13e.html?p=719">Paul si Cristina Rad Wedding Day</a></h4>
                            <span class="entry-date">April 13, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexdc32.html?p=1309">Life Round Here (Feat. Angel Haze)</a></h4>
                            <span class="entry-date">March 11, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index5628.html?p=1305">Fashion Glasses Symmetrical</a></h4>
                            <span class="entry-date">February 11, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index4ac2.html?p=1331">Five Of London’s Best</a></h4>
                            <span class="entry-date">January 3, 2014</span>
                        </article>
                    </div>
                </div>
            </div>
        </div><!--/end widget.kopa-list-post-no-thumb-->
    </section>
}

<div class="kopa-entry-post">
    <div class="kopa-entry-post post-1486 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard">

        @if (Model != null)
        {
            <header class="clearfix">
                <h4 class="entry-title">@Model.Caption</h4>
                <div class="entry-meta clearfix">
                    <p class="entry-date">@ICB_Website.UI.Resources.RHome.Posted:<span>@Model.PostedDate</span></p>
                    <p class="entry-categories">in:&nbsp;<a href="#" rel="category">People</a></p>
                    <p class="entry-comment"><a href="#">No Comment</a></p>
                </div>
                <div class="kopa-social-link">
                    <ul class="clearfix">
                        <li><a href="" title="Facebook" target="_blank" class="fa fa-facebook"></a></li>
                        <li><a href="" title="Twitter" target="_blank" class="fa fa-twitter"></a></li>
                        <li><a href="" title="Google" target="_blank" class="fa fa-google-plus"></a></li>
                        <li><a href="" title="Pinterest" target="_blank" class="fa fa-pinterest"></a></li>
                        <li><a href="" title="Email" target="_blank" class="fa fa-envelope"></a></li>
                    </ul>
                </div>
            </header>
            <div class="entry-content">
                <div class="entry-content">
                    <div id="lipsum">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        }
        

        <div class="single-post-bottom">
            <div class="kopa-social-link">
                <ul class="clearfix">
                    <li><a href="" title="Facebook" target="_blank" class="fa fa-facebook"></a></li>
                    <li><a href="" title="Twitter" target="_blank" class="fa fa-twitter"></a></li>
                    <li><a href="" title="Google" target="_blank" class="fa fa-google-plus"></a></li>
                    <li><a href="" title="Pinterest" target="_blank" class="fa fa-pinterest"></a></li>
                    <li><a href="" title="Email" target="_blank" class="fa fa-envelope"></a></li>
                </ul>
            </div>
            <div class="kopa-tag-box">
                <ul class="clearfix">
                    <li><a class="entry-tag" href="indexc7e9.html?tag=post" title="View all in post">post</a></li>
                    <li><a class="entry-tag" href="indexecab.html?tag=standard" title="View all in standard">standard</a></li>
                </ul>
            </div>
        </div>
        <div class="kopa-related-post clearfix">
            <div class="prev-post">
                <div class="entry-item clearfix">
                    <h4 class="entry-title"><a href="index3f68.html?p=1681" title="5 Maneras de Ahorrar en Los Viajes en Familia">5 Maneras de Ahorrar en Los Viajes en Familia</a></h4>
                    <p class="entry-date">Posted:<span>June 19, 2014</span></p>
                </div>
                <a href="index3f68.html?p=1681" title="5 Maneras de Ahorrar en Los Viajes en Familia" class="btn-prev fa fa-angle-left"></a>
            </div>
        </div>
        <div class="kopa-recent-post">
            <h3 class="recent-title">Related articles</h3>
            <ul class="clearfix">
                <li>
                    <article class="entry-item">
                        <div class="entry-content">
                            <header>
                                <h4 class="entry-title"><a href="index3f68.html?p=1681" title="5 Maneras de Ahorrar en Los Viajes en Familia">5 Maneras de Ahorrar en Los Viajes en Familia</a></h4>
                                <p class="entry-date">Posted:<span>June 19, 2014</span></p>
                            </header>
                            <p>Aliquam erat volutpat. Morbi pretium odio sit amet lorem bibendum commodo. Vivamus orci lacus, pharetra sed dolor sed, tempus molestie est. Duis tincidunt non erat nec congue. In hac habitasse platea dictumst. Maecenas sed orci nec ligula porta vehicula vitae accumsan purus. In lacus neque, gravida ut bibendum vel, faucibus consequat tortor. Aliquam quam mauris, [&hellip;]</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="entry-item">
                        <div class="entry-content">
                            <header>
                                <h4 class="entry-title"><a href="indexd5ec.html?p=1189" title="Drunk In Love &#8211; Beyonce ft. Jay Z">Drunk In Love &#8211; Beyonce ft. Jay Z</a></h4>
                                <p class="entry-date">Posted:<span>June 10, 2014</span></p>
                            </header>
                            <p>Phasellus feugiat venenatis volutpat. Sed posuere convallis eleifend. Nulla id ante quis neque tristique ultricies eget eget nisi. Fusce eleifend, massa et egestas iaculis, enim mi accumsan arcu, in eleifend est risus nec quam. Sed dapibus tincidunt nisl, vel elementum odio pulvinar ac. Fusce lorem diam, lacinia vel malesuada quis, tempor in nisl. Ut aliquam [&hellip;]</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="entry-item">
                        <div class="entry-content">
                            <header>
                                <h4 class="entry-title"><a href="index62bc.html?p=754" title="The Gallery Library of Sammy">The Gallery Library of Sammy</a></h4>
                                <p class="entry-date">Posted:<span>May 15, 2014</span></p>
                            </header>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into [&hellip;]</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="entry-item">
                        <div class="entry-content">
                            <header>
                                <h4 class="entry-title"><a href="indexd13e.html?p=719" title="Paul si Cristina Rad Wedding Day">Paul si Cristina Rad Wedding Day</a></h4>
                                <p class="entry-date">Posted:<span>April 13, 2014</span></p>
                            </header>
                            <p>Various versions long version fact that distribution reader will be distracted by the readable content Lorem Ipsum page.… Lorem Ipsum containing Lorem Ipsum passages simply dummy text desktop publishing software printing and typesetting industry. Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text [&hellip;]</p>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
        <!--/kopa-recent-post-->

        <div class="kopa-author clearfix">
            <span></span>
            <a class="avatar-thumb" href="index3f71.html?author=2" title=""><img alt='' src='http://0.gravatar.com/avatar/?s=91&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/?s=182&amp;d=mm&amp;r=g 2x' class='avatar avatar-91 photo avatar-default' height='91' width='91' /></a>
            <div class="author-content media-body">
                <div class="author-social-link">
                    <div class="kopa-relative">
                    </div>
                </div>

                <header class="clearfix">
                    <div class="pull-left">
                        <h5 class="author-name"><a href="index3f71.html?author=2" title=""></a></h5>
                    </div>
                </header>
            </div>
        </div>
        <!--/kopa-about-author-->
    </div>

    <div id="comments">
        <div id="respond">
            <h4 id="reply-title" class="comment-reply-title clearfix">Leave a Reply</h4>
            <p class="must-log-in">You must be <a href="wp-loginb04c.html?redirect_to=http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486">logged in</a> to post a comment.</p>
        </div><!-- #respond -->
    </div>
</div>

