
@{
    ViewBag.Title = "Admin: Quản lý tài khoản";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div data-controller="account">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Danh sách tài khoản</h3>
            
        </div>
        <div class="box-body">

            <table class="table table-striped jambo_table table-bordered">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="checkboxall flat" /> </th>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" class="flat" name="table_records"></td>
                        <td scope="row">1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="flat" name="table_records"></td>
                        <td scope="row">2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="flat" name="table_records"></td>
                        <td scope="row">3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            APPLICATION.CreateDataTable($('table'),
                [
                    {
                        text: '<i class="fa fa-plus"></i>&nbsp;Thêm mới',
                        action: function () {

                        }
                    },
                    {
                        text: '<i class="fa fa-edit"></i>&nbsp;Sửa',
                        action: function () {

                        }
                    },
                    {
                        text: '<i class="fa fa-trash"></i>&nbsp;Xóa',
                        action: function () {

                        }
                    },
                    {
                        text: '<i class="fa fa-refresh"></i>&nbsp;Làm mới',
                        action: function () {

                        }
                    }
                ], true);
        });
    </script>
    }

