@using PagedList.Mvc
@model PagedList.IPagedList<ICB.Business.Models.Customer>
@{
    ViewBag.Title = "Đối tác - khách hàng";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.NotRenderSideBar = true;
    ViewBag.IsBreadcrumb =false;
}

@section TopSlider{
    @Html.Partial("_sectionSlider")
}
<div class="kopa-entry-post">
    <div class="kopa-entry-post post-1486 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard">

        <header class="clearfix">
            <h4 class="entry-title">Đối tác - khách hàng</h4>
        </header>
        <div class="">
            <div class="grid-partner">

                @foreach (var item in Model)
                {
                    <div class="item">
                        <div class="wrap-item">
                            <div class="img"><img src="@item.Thumbnail" alt="" title=""></div>
                            <div class="text"><span class="center">@item.Name</span></div>
                            <a href="@item.Website"></a>
                        </div>
                    </div>
                }

                <div class="clear"></div>
            </div>
        </div>
        <!--/kopa-about-author-->
    </div>

</div>



