@using PagedList.Mvc
@model PagedList.IPagedList<ICB.Business.Models.Customer>
@{
    ViewBag.Title = "Đối tác - khách hàng";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.NotRenderSideBar = true;
    ViewBag.IsBreadcrumb =false;
}

@section TopSlider{

    <section class="widget-area-1 clearfix">
        <div class="widget kopa-list-post-no-thumb clearfix">
            <span></span>

            <h3 class="widget-title">New<span>Stories</span></h3>

            <div class="list-post-main">
                <div class="owl-carousel owl-carousel1">
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index9e97.html?p=1486">Driving in Leather Driving Gloves</a></h4>
                            <span class="entry-date">June 19, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index3f68.html?p=1681">5 Maneras de Ahorrar en Los Viajes en Familia</a></h4>
                            <span class="entry-date">June 19, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexd5ec.html?p=1189">Drunk In Love &#8211; Beyonce ft. Jay Z</a></h4>
                            <span class="entry-date">June 10, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index62bc.html?p=754">The Gallery Library of Sammy</a></h4>
                            <span class="entry-date">May 15, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexd13e.html?p=719">Paul si Cristina Rad Wedding Day</a></h4>
                            <span class="entry-date">April 13, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexdc32.html?p=1309">Life Round Here (Feat. Angel Haze)</a></h4>
                            <span class="entry-date">March 11, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index5628.html?p=1305">Fashion Glasses Symmetrical</a></h4>
                            <span class="entry-date">February 11, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index4ac2.html?p=1331">Five Of London’s Best</a></h4>
                            <span class="entry-date">January 3, 2014</span>
                        </article>
                    </div>
                </div>
            </div>
        </div><!--/end widget.kopa-list-post-no-thumb-->
    </section>
}
<div class="kopa-entry-post">
    <div class="kopa-entry-post post-1486 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard">

        <header class="clearfix">
            <h4 class="entry-title">Đối tác - khách hàng</h4>
        </header>
        <div class="">
            <div class="grid-partner">

                @foreach (var item in Model)
                {
                    <div class="item">
                        <div class="wrap-item">
                            <div class="img"><img src="@item.Thumbnail" alt="" title=""></div>
                            <div class="text"><span class="center">@item.Name</span></div>
                            <a href="@item.Website"></a>
                        </div>
                    </div>
                }

                <div class="clear"></div>
            </div>
        </div>
        <!--/kopa-about-author-->
    </div>

</div>



