.name-company {
    float: right;
    position: absolute;
    top: 20px;
    right: 80px;
    font-size: 36px;
    color: #fff;
}

.owl-carousel5 .entry-thumb {
    width: 50%;
    float: left;
    margin-right: 30px;
}

.owl-carousel5 .entry-content {
    float: left;
    width: 45%;
}

.list-post-main-2 .owl-carousel5 .item {
    padding: 0px;
    margin-left: 0px;
    border: 0px solid #fff;
}

.slide-tintuc.kopa-list-post-no-thumb {
    border: 0px solid #fff;
}
.kopa-logo {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    z-index:999;
}
.entry-item-img{
    height:40px;
    width:40px;
    float:left;
    margin-right:10px;
    display:block;
}
#kopa-services ul li{
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:1px solid #dadada;
}
.owl-carousel7 .owl-controls .owl-buttons div{
    background-color:transparent !important;
}
.owl-carousel7 .item{
    border-right:0px solid #dbdbdb !important;
    margin-left:0px !important;
}
.owl-carousel7 .owl-item:last-child .item {
    border-right: 1px solid #dbdbdb !important;
    /*margin-left: 0px !important;*/
}