body {
    font-family: 'Open Sans', sans-serif !important;
}
.link-email {
    color: blue !important;
    text-decoration: none !important;
}
    .link-email:hover {
        text-decoration: underline !important;
        cursor: pointer !important;
    }
.hotline {
    font-weight:bold;
    /*color: #ef0a3d;*/
    /*-webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;*/
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}
.name-company {
    float: right;
    position: absolute;
    top: 20px;
    /*right: 80px;*/
    font-weight: 600;
    font-size: 36px;
    color: #2680a2;
    text-align: center;
    width: 100%;
    /*background: #0e8dbc;*/
    color: white;
    color: #244f98;
    text-shadow: 0 1px 0 #fff, 0 2px 0 #ececec, 0 3px 0 #e8e8e8, 0 4px 0 #e2e2e2, 0 5px 0 #d8d6d6, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.owl-carousel5 .entry-thumb {
    width: 35%;
    float: left;
    margin-right: 30px;
}

.owl-carousel5 .entry-content {
    float: left;
    width: 60%;
}

#danh-sach-tin-tuc-noi-bat .entry-date {
    text-transform: none !important;
    font-size: 10px !important;
    margin-bottom: 0px !important;
}

.list-post-main-2 .owl-carousel5 .item {
    padding: 0px;
    margin-left: 0px;
    border: 0px solid #fff;
}

.slide-tintuc.kopa-list-post-no-thumb {
    border: 0px solid #fff;
}
.kopa-logo {
   margin:0;
    z-index:999;
}
.entry-item-img{
    height:29px;
    width:29px;
    float:left;
    margin-right:10px;
    display:block;
}
#kopa-services ul li{
    margin-bottom:10px;
    
    border-bottom:1px solid #dadada;
}
.owl-carousel7 .owl-controls .owl-buttons div{
    background-color:transparent !important;
}
.owl-carousel7 .item{
    border-right:0px solid #dbdbdb !important;
    margin-left:0px !important;
}
.owl-carousel7 .owl-item:last-child .item {
    border-right: 1px solid #dbdbdb !important;
    /*margin-left: 0px !important;*/
}
@media only screen and (max-width: 799px) and (min-width: 768px) {
    .kopa-logo {
    display:none !important;
    }
    .name-company {
        display: none !important;
    }
}
@media only screen and (max-width: 768px) {

    .name-company {
        display: none !important;
    }
    
}
@media only screen and (min-width: 799px) and (max-width: 979px) {

    .kopa-logo {
        display: none !important;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {

    .kopa-logo {
        display: none !important;
    }
}
.main-wrapper aside:last-child{
    margin-right:0px !important;
    margin-left:15px !important;
}
#tin-tuc-noi-bat .kopa-other-post .entry-thumb {
    width: 98px;
    margin-right: 15px;
}

#tin-tuc-noi-bat .kopa-other-post .entry-title {
    font-size: 13px !important;
    line-height: 16px !important;
}
#danh-sach-tin-tuc-noi-bat .entry-title {
    font-size: 13px !important;
}
.main-wrapper {
    width: 98% !important;
}
.kopa-main-col{
    width:630px !important;
}
.grid-partner {
    margin: 0 -15px 15px -15px;
}

    .grid-partner .item {
        padding: 15px;
        width: 25%;
        float: left;
    }

        .grid-partner .item .wrap-item {
            -webkit-transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            transition: all 0.6s ease;
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
        }

            .grid-partner .item .wrap-item .img {
                width: 100%;
                padding-top: 66.66%;
                position: relative;
                background: #ffffff;
                -webkit-transform-origin: 50% 0%;
                -moz-transform-origin: 50% 0%;
                -ms-transform-origin: 50% 0%;
                -o-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-transition: all 0.6s ease;
                -moz-transition: all 0.6s ease;
                -o-transition: all 0.6s ease;
                transition: all 0.6s ease;
                opacity: 1;
                -webkit-transition-delay: 0.21s;
                -moz-transition-delay: 0.21s;
                transition-delay: 0.21s;
                border: 1px solid #dedede;
            }

                .grid-partner .item .wrap-item .img img {
                    max-width: 98%;
                    max-height: 98%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    -moz-transform: translate(-50%,-50%);
                    -o-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                }

            .grid-partner .item .wrap-item .text {
                background-color: #ffd200;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                opacity: 0;
                -webkit-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
                -moz-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
                -ms-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
                -o-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
                transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
                -webkit-transform-origin: 50% 100%;
                -moz-transform-origin: 50% 100%;
                -ms-transform-origin: 50% 100%;
                -o-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transition: all 0.6s ease;
                -moz-transition: all 0.6s ease;
                -o-transition: all 0.6s ease;
                transition: all 0.6s ease;
                text-transform: uppercase;
                color: #ffffff;
                font-size: 28px;
                line-height: 32px;
                font-weight: bold;
            }

                .grid-partner .item .wrap-item .text .center {
                    display: block;
                    width: 100%;
                    padding: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    -moz-transform: translate(-50%,-50%);
                    -o-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                    text-align: center;
                }

                    .grid-partner .item .wrap-item .text .center span {
                        display: inline-block;
                    }

            .grid-partner .item .wrap-item:hover .img {
                opacity: 0;
                -webkit-transform: rotateX(90deg) scale(0.6) translateY(50%);
                -moz-transform: rotateX(90deg) scale(0.6) translateY(50%);
                -ms-transform: rotateX(90deg) scale(0.6) translateY(50%);
                -o-transform: rotateX(90deg) scale(0.6) translateY(50%);
                transform: rotateX(90deg) scale(0.6) translateY(50%);
                -webkit-transition-delay: 0s;
                -moz-transition-delay: 0s;
                transition-delay: 0s;
            }

            .grid-partner .item .wrap-item:hover .text {
                -webkit-transform: rotateX(0deg) translate3d(0, 0%, 0) scale(1);
                -moz-transform: rotateX(0deg) translate3d(0, 0%, 0) scale(1);
                -ms-transform: rotateX(0deg) translate3d(0, 0%, 0) scale(1);
                -o-transform: rotateX(0deg) translate3d(0, 0%, 0) scale(1);
                transform: rotateX(0deg) translate3d(0, 0%, 0) scale(1);
                opacity: 1;
                -webkit-transition-delay: 0.21s;
                -moz-transition-delay: 0.21s;
                transition-delay: 0.21s;
            }
.kopa-pagination ul li:first-child {
    /*padding-top: 10px !important;*/
    margin-top: 3px !important;
    border: 1px solid #dbdbdb !important;
}
.kopa-pagination ul li.active {
    background: #0088b2;
}
.kopa-pagination ul li.active a{
    color: #fff !important;
}

#main-nav .menu-item span.fa {
    float: right;
    line-height: 20px;
}
.kopa-pagination ul li {
    padding: 0;
}


    .kopa-pagination ul li a {
        padding: 10px 15px;
        display:block;
    }

    .kopa-pagination ul li:first-child a {
        padding-top: 10px !important
    }
.direct-chat-msg.center{

}
.direct-chat-text-welcome {
    /*background: #f39c12;*/
    /*border-color: #f39c12;*/
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 8px 0 8px;
    color: #444;
}
 /*menu doc*/

 .menu-doc{
     position:relative;
     /*z-index:600;*/
     float:left;
     width:100%;
 }
    .menu-doc li.item:hover
     {
        position: relative;
        z-index: 605;
        cursor: pointer;
    }
.menu-doc.menu-left ul {
    margin-top: 1px;
    display: none;
    position: absolute;
    top: 1px;
    left: 99%;
    z-index: 598;
    width: 100%;
}
    .menu-doc.menu-right ul {
        margin-top: 1px;
        display: none;
        position: absolute;
        top: 1px;
        right: 105%;
        z-index: 598;
        width: 100%;
    }


    .menu-doc ul ul {
        top: 1px;
        left: 99%;
    }

    .menu-doc li:hover > ul {
        display: block;
    }

    .menu-doc li {
        float: none;
        
    }

    .menu-doc ul li {
        font-weight: normal;
        margin:0;
    }

/* Custom CSS Styles */


    .menu-doc ul a,
    .menu-doc ul a:link,
    .menu-doc ul a:visited {
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 300;
    }

    .menu-doc > ul {
        float: none;
    }

    .menu-doc {
        background: #fff;
    }

    .menu-doc > ul > li {
        border-left: 3px solid #cecece;
    }

        .menu-doc > ul > li > a {
            padding: 10px 20px;
        }

        .menu-doc > ul > li:hover {
            border-left: 3px solid #3dbd99;
        }

    /*.menu-doc li:hover > a {
        /*color: #3dbd99;
    }*/

        .menu-doc ul li:hover {
            background: #06779a;
        }
    
    .menu-doc ul a:link,
    .menu-doc ul a:visited {
        font-weight: 400;
        font-size: 14px;
    }

    .menu-doc ul {
        background: none;
        border-left: 20px solid transparent;
    }

        .menu-doc ul a {
            padding: 8px 0;
            /*border-bottom: 1px solid #eeeeee;*/
            
        }

        .menu-doc ul li {
            padding: 0 20px;
            background: #0088b2;
            border-bottom: 1px solid #fff;
            margin-bottom:0px !important;
        }

            .menu-doc ul li:last-child {
                border-bottom: 3px solid #005e7b !important;
                padding-bottom: 5px;
            }

            .menu-doc ul li:first-child {
                padding-top: 5px;
            }

            .menu-doc ul li:last-child > a {
                border-bottom: none;
            }

            .menu-doc.menu-left ul li:first-child:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                left: -20px;
                top: 13px;
                border-left: 10px solid transparent;
                border-right: 10px solid #0088b2;
                border-bottom: 10px solid transparent;
                border-top: 10px solid transparent;
            }
        .menu-doc.menu-right ul li:first-child:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            right: -20px;
            top: 13px;
            border-left: 10px solid #0088b2;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
        }

            .menu-doc span.fa{
                position:absolute;
                top:5px;
                right:6px;
            }
.menu-doc li{
    position:relative;
}
.menu-doc ul span.fa {
    top: 12px;
    color:#fff;
}


 /*end menu doc*/

.block-tab {
    width: 100%;
    float: left;
    height: 35px;
    background: #2B9EFD;
}

    .block-tab ul {
        margin: 0px;
        width:100%;
        float: left;
        list-style-type: none;
    }

        .block-tab ul li {
            display: block;
            float: left;
            width: 33.33%;
            border-right: 1px solid #fff;
            white-space: nowrap;
            text-align: center;
            padding: 0px 29px;
            line-height: 35px;
            cursor: pointer;
            color: #fff;
        }

            .block-tab ul li:hover, .active-tab {
                background: #0276D6
            }

.block-content-tab {
    float: left;
    width: 99.89%;
    border: 1px solid #2B9EFD;
    min-height: 200px;
    display: none;
    padding: 5px;
}

.active-content {
    display: block;
}



/*----------*/
.tuvan-baogia {
    background: #f9fafc none repeat scroll 0 0;
    /*border: 1px solid #e0e0e0;*/
    /*border-top: none;*/
    display: inline-block;
    overflow:hidden;
    padding: 5px;
    width: 100%;
}
    .tuvan-baogia ul {
        display: inline-block;
        list-style: outside none none;
        padding: 0;
        width: 100%;
    }
    .tuvan-baogia li {
        border: 1px solid #ddd;
        border-top: 1px solid #ddd !important;
        float: left;
        line-height: 18px;
        list-style: outside none none;
        margin-bottom: 8px;
        padding-top:5px !important;
        padding: 5px 0;
        width: 100%;
    }
        .tuvan-baogia li img {
            float: left;
            height: 40px;
            margin: 0 5px;
            width: 50px;
        }
        .tuvan-baogia li p.name {
            color: #1252a9;
            font-size: 15px;
            font-weight: bold;
        }
        .tuvan-baogia li p {
            margin: 0;
            width: 100%;
        }
            .tuvan-baogia li p.phonex {
                color: #333;
                font-size: 15px;
                font-weight: bold;
                margin: 5px 0;
            }
            .tuvan-baogia li p.other {
                color: #333;
                font-size: 13px;
                line-height: 25px;
                margin-left:5px;
            }

#contact-box{
    
}
.wrapper{
    overflow-x:unset !important;
    overflow-y:unset !important;
}

/******************************/
.design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
}

.design-process-content {
    border: 1px solid #e9e9e9;
    position: relative;
    padding: 16px 34% 30px 30px;
}

    .design-process-content img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        max-height: 100%;
    }

    .design-process-content h3 {
        margin-bottom: 16px;
    }

    .design-process-content p {
        line-height: 26px;
        margin-bottom: 12px;
    }

.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
}

    .process-model li::after {
        background: #e5e5e5 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        margin: 0 auto;
        position: absolute;
        right: -35px;
        top: 20px;
        width: 62%;
        z-index: -1;
    }

    .process-model li.visited::after {
        background: #57b87b;
    }

    .process-model li:last-child::after {
        width: 0;
    }

    .process-model li {
        display: inline-block;
        width: 18%;
        text-align: center;
        float: none;
    }

        .nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
            border: none;
            /*background: transparent;*/
        }

        .process-model li a {
            padding: 0;
            border: none;
            color: #606060;
        }

        .process-model li.active,
        .process-model li.visited {
            color: #57b87b;
        }

            .process-model li.active a,
            .process-model li.active a:hover,
            .process-model li.active a:focus,
            .process-model li.visited a,
            .process-model li.visited a:hover,
            .process-model li.visited a:focus {
                color: #57b87b;
                background-color: #fff !important;
            }

            .process-model li.active p,
            .process-model li.visited p {
                font-weight: 600;
            }

        .process-model li i {
            display: block;
            height: 40px;
            width: 40px;
            text-align: center;
            margin: 0 auto;
            background: #f5f6f7;
            border: 2px solid #e5e5e5;
            line-height: 38px;
            font-size: 15px;
            border-radius: 50%;
        }

        .process-model li.active i, .process-model li.visited i {
            
            border-color: #57b87b;
        }

        .process-model li p {
            font-size: 14px;
            margin-top: 11px;
        }

    .process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
        color: #606060 !important;
        font-weight: normal
    }

    .process-model.contact-us-tab li::after {
        display: none;
    }

    .process-model.contact-us-tab li.visited i {
        border-color: #e5e5e5;
    }



@media screen and (max-width: 560px) {
    .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }

    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}

@media screen and (max-width: 380px) {
    .process-model.more-icon-preocess li {
        width: 16%;
    }

    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }

    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }

    .more-icon-preocess.process-model li::after {
        top: 18px;
    }

    .process-model.more-icon-preocess {
        text-align: center;
    }
}