
@{
    ViewBag.Title = "Admin: Thêm mới văn bản";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Thêm mới văn bản";
    ViewBag.ContentName = "Thêm mới văn bản";
}
<div data-controller="document">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Thông tin chi tiết văn bản</h3>

        </div>
        <div class="box-body">

            <form id="frm-vanban-create" onsubmit="return false;" novalidate>
                
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Tiêu đề: <span class="text-required">(*)</span></label>
                                    <input class="form-control" data-val="true" data-val-required="Vui lòng nhập tiêu đề tin tức" id="tieude" name="tieude" type="text" value="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Ngày đăng: <span class="text-required">(*)</span></label>
                                    <div class="input-group">
                                        <input class="form-control datetimepicker" id="txt_ngaydang" name="ngaydang" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Mô tả ngắn:</label>
                                    <textarea class="form-control" cols="20" data-val="true" data-val-required="Vui lòng nhập mô tả ngắn tin tức" id="motangan" name="motangan" rows="10"></textarea>
                                    <span class="field-validation-valid" data-valmsg-for="motangan" data-valmsg-replace="true" style="color: #f50000;"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Ảnh đại diện: <span class="text-required">(*)</span></label>
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div>
                                        <img class="img-thumbnail" style="width: 100%; min-height:200px; max-height:300px; margin-bottom: 10px;" src="~/Images/ne1.jpg">
                                    </div>
                                    <div class="form-group">
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input class="form-control" id="image" name="Path" readonly="readonly" type="text" value="">
                                                <div class="input-group-btn">
                                                    <a id="browser" class="btn btn-primary" data-dismiss="fileupload">Duyệt ảnh...</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label class="control-label">Nội dung:</label>

                            <textarea cols="10" id="editor1" name="editor1" style="width:100%" rows="10" data-sample="1" data-sample-short=""></textarea>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" id="btn-vanban-save" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;&nbsp;Lưu</button>
                        <button type="button" class="btn btn-default" id="btn-vanban-cancel"><i class="fa fa-remove"></i>&nbsp;&nbsp;Hủy</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
<script type="text/javascript">
            $(document).ready(function () {
                CKEDITOR.replace('editor1', {
                    customConfig: '/Plugins/ckeditor/config.js'
                });

            });
</script>


