
@{
    ViewBag.Title = "danhsachtintuc";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    #danh-sach-tin-tuc .entry-thumb {
        width:257px;
    }
    #danh-sach-tin-tuc .news-highlight .entry-thumb {
        width: 100%;
    }
</style>
<div id="danh-sach-tin-tuc" class="widget kopa-article-list-widget-1 clearfix">
    <h3 class="widget-title"><span class="icon-title fa fa-asterisk"></span>News<a href="index3cd0.html?cat=49">All Articles</a></h3>

    

    <article class="entry-item clearfix last-item ">
        <div class="entry-thumb">
            <a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"><img src="~/Uploads/Images/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5nf1kd588clkc96.jpg" alt="Driving in Leather Driving Gloves" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-link" href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"></a>
                </div>
            </div>
        </div>

        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h4>

                <p class="entry-date">
                    Posted:&nbsp; <span>June 19, 2014</span>
                </p>
            </header>
            <p>Aenean dui lectus, accumsan nec nulla sit amet, consectetur iaculis neque. Ut nec odio sem. Donec aliquam posuere imperdiet. Morbi luctus dolor id fringilla sagittis. Nulla fermentum risus nec accumsan mollis. Integer sit amet dui non tellus</p>

            <a href="index9e97.html?p=1486" class="more-link" title="Driving in Leather Driving Gloves">Read more<span class="fa fa-angle-double-right "></span></a>
        </div>
    </article>
    <article class="entry-item clearfix last-item ">
        <div class="entry-thumb">
            <a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"><img src="~/Uploads/Images/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5nf1kd588clkc96.jpg" alt="Driving in Leather Driving Gloves" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-link" href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"></a>
                </div>
            </div>
        </div>

        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h4>

                <p class="entry-date">
                    Posted:&nbsp; <span>June 19, 2014</span>
                </p>
            </header>
            <p>Aenean dui lectus, accumsan nec nulla sit amet, consectetur iaculis neque. Ut nec odio sem. Donec aliquam posuere imperdiet. Morbi luctus dolor id fringilla sagittis. Nulla fermentum risus nec accumsan mollis. Integer sit amet dui non tellus</p>

            <a href="index9e97.html?p=1486" class="more-link" title="Driving in Leather Driving Gloves">Read more<span class="fa fa-angle-double-right "></span></a>
        </div>
    </article>
    <article class="entry-item clearfix last-item ">
        <div class="entry-thumb">
            <a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"><img src="~/Uploads/Images/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5nf1kd588clkc96.jpg" alt="Driving in Leather Driving Gloves" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-link" href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"></a>
                </div>
            </div>
        </div>

        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h4>

                <p class="entry-date">
                    Posted:&nbsp; <span>June 19, 2014</span>
                </p>
            </header>
            <p>Aenean dui lectus, accumsan nec nulla sit amet, consectetur iaculis neque. Ut nec odio sem. Donec aliquam posuere imperdiet. Morbi luctus dolor id fringilla sagittis. Nulla fermentum risus nec accumsan mollis. Integer sit amet dui non tellus</p>

            <a href="index9e97.html?p=1486" class="more-link" title="Driving in Leather Driving Gloves">Read more<span class="fa fa-angle-double-right "></span></a>
        </div>
    </article>
    <article class="entry-item clearfix last-item ">
        <div class="entry-thumb">
            <a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"><img src="~/Uploads/Images/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5nf1kd588clkc96.jpg" alt="Driving in Leather Driving Gloves" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-link" href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"></a>
                </div>
            </div>
        </div>

        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h4>

                <p class="entry-date">
                    Posted:&nbsp; <span>June 19, 2014</span>
                </p>
            </header>
            <p>Aenean dui lectus, accumsan nec nulla sit amet, consectetur iaculis neque. Ut nec odio sem. Donec aliquam posuere imperdiet. Morbi luctus dolor id fringilla sagittis. Nulla fermentum risus nec accumsan mollis. Integer sit amet dui non tellus</p>

            <a href="index9e97.html?p=1486" class="more-link" title="Driving in Leather Driving Gloves">Read more<span class="fa fa-angle-double-right "></span></a>
        </div>
    </article>
    <article class="entry-item clearfix last-item ">
        <div class="entry-thumb">
            <a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"><img src="~/Uploads/Images/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5nf1kd588clkc96.jpg" alt="Driving in Leather Driving Gloves" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-link" href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"></a>
                </div>
            </div>
        </div>

        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h4>

                <p class="entry-date">
                    Posted:&nbsp; <span>June 19, 2014</span>
                </p>
            </header>
            <p>Aenean dui lectus, accumsan nec nulla sit amet, consectetur iaculis neque. Ut nec odio sem. Donec aliquam posuere imperdiet. Morbi luctus dolor id fringilla sagittis. Nulla fermentum risus nec accumsan mollis. Integer sit amet dui non tellus</p>

            <a href="index9e97.html?p=1486" class="more-link" title="Driving in Leather Driving Gloves">Read more<span class="fa fa-angle-double-right "></span></a>
        </div>
    </article>
    <article class="entry-item clearfix last-item ">
        <div class="entry-thumb">
            <a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"><img src="~/Uploads/Images/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5nf1kd588clkc96.jpg" alt="Driving in Leather Driving Gloves" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-link" href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"></a>
                </div>
            </div>
        </div>

        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h4>

                <p class="entry-date">
                    Posted:&nbsp; <span>June 19, 2014</span>
                </p>
            </header>
            <p>Aenean dui lectus, accumsan nec nulla sit amet, consectetur iaculis neque. Ut nec odio sem. Donec aliquam posuere imperdiet. Morbi luctus dolor id fringilla sagittis. Nulla fermentum risus nec accumsan mollis. Integer sit amet dui non tellus</p>

            <a href="index9e97.html?p=1486" class="more-link" title="Driving in Leather Driving Gloves">Read more<span class="fa fa-angle-double-right "></span></a>
        </div>
    </article>
    <article class="entry-item clearfix last-item ">
        <div class="entry-thumb">
            <a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"><img src="~/Uploads/Images/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5nf1kd588clkc96.jpg" alt="Driving in Leather Driving Gloves" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-link" href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"></a>
                </div>
            </div>
        </div>

        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h4>

                <p class="entry-date">
                    Posted:&nbsp; <span>June 19, 2014</span>
                </p>
            </header>
            <p>Aenean dui lectus, accumsan nec nulla sit amet, consectetur iaculis neque. Ut nec odio sem. Donec aliquam posuere imperdiet. Morbi luctus dolor id fringilla sagittis. Nulla fermentum risus nec accumsan mollis. Integer sit amet dui non tellus</p>

            <a href="index9e97.html?p=1486" class="more-link" title="Driving in Leather Driving Gloves">Read more<span class="fa fa-angle-double-right "></span></a>
        </div>
    </article>
    <article class="entry-item clearfix last-item ">
        <div class="entry-thumb">
            <a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"><img src="~/Uploads/Images/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5nf1kd588clkc96.jpg" alt="Driving in Leather Driving Gloves" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-link" href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"></a>
                </div>
            </div>
        </div>

        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h4>

                <p class="entry-date">
                    Posted:&nbsp; <span>June 19, 2014</span>
                </p>
            </header>
            <p>Aenean dui lectus, accumsan nec nulla sit amet, consectetur iaculis neque. Ut nec odio sem. Donec aliquam posuere imperdiet. Morbi luctus dolor id fringilla sagittis. Nulla fermentum risus nec accumsan mollis. Integer sit amet dui non tellus</p>

            <a href="index9e97.html?p=1486" class="more-link" title="Driving in Leather Driving Gloves">Read more<span class="fa fa-angle-double-right "></span></a>
        </div>
    </article>
    <article class="entry-item clearfix last-item ">
        <div class="entry-thumb">
            <a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"><img src="~/Uploads/Images/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5nf1kd588clkc96.jpg" alt="Driving in Leather Driving Gloves" /></a>
            <div class="thumb-hover">
                <div class="thumb-icon">
                    <span class="icon-top"></span>
                    <a class="fa fa-link" href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves"></a>
                </div>
            </div>
        </div>

        <div class="entry-content">
            <header>
                <h4 class="entry-title"><a href="index9e97.html?p=1486" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h4>

                <p class="entry-date">
                    Posted:&nbsp; <span>June 19, 2014</span>
                </p>
            </header>
            <p>Aenean dui lectus, accumsan nec nulla sit amet, consectetur iaculis neque. Ut nec odio sem. Donec aliquam posuere imperdiet. Morbi luctus dolor id fringilla sagittis. Nulla fermentum risus nec accumsan mollis. Integer sit amet dui non tellus</p>

            <a href="index9e97.html?p=1486" class="more-link" title="Driving in Leather Driving Gloves">Read more<span class="fa fa-angle-double-right "></span></a>
        </div>
    </article>
    <div class="kopa-pagination clearfix">
        <ul class='page-numbers'>
            <li><span class='page-numbers current'>1</span></li>
            <li><a class='page-numbers' href='index6b91.html?page_id=54&amp;paged=2'>2</a></li>
            <li><a class='page-numbers' href='index0495.html?page_id=54&amp;paged=3'>3</a></li>
            <li><a class="next page-numbers" href="index6b91.html?page_id=54&amp;paged=2">Next</a></li>
        </ul>
    </div>
</div>


