@model ICB.Business.Models.SystemConfig
@{
    ViewBag.Title = "Giới thiệu công ty";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section TopSlider{

    <section class="widget-area-1 clearfix">
        <div class="widget kopa-list-post-no-thumb clearfix">
            <span></span>

            <h3 class="widget-title">New<span>Stories</span></h3>

            <div class="list-post-main">
                <div class="owl-carousel owl-carousel1">
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index9e97.html?p=1486">Driving in Leather Driving Gloves</a></h4>
                            <span class="entry-date">June 19, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index3f68.html?p=1681">5 Maneras de Ahorrar en Los Viajes en Familia</a></h4>
                            <span class="entry-date">June 19, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexd5ec.html?p=1189">Drunk In Love &#8211; Beyonce ft. Jay Z</a></h4>
                            <span class="entry-date">June 10, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index62bc.html?p=754">The Gallery Library of Sammy</a></h4>
                            <span class="entry-date">May 15, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexd13e.html?p=719">Paul si Cristina Rad Wedding Day</a></h4>
                            <span class="entry-date">April 13, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexdc32.html?p=1309">Life Round Here (Feat. Angel Haze)</a></h4>
                            <span class="entry-date">March 11, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index5628.html?p=1305">Fashion Glasses Symmetrical</a></h4>
                            <span class="entry-date">February 11, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index4ac2.html?p=1331">Five Of London’s Best</a></h4>
                            <span class="entry-date">January 3, 2014</span>
                        </article>
                    </div>
                </div>
            </div>
        </div><!--/end widget.kopa-list-post-no-thumb-->
    </section>
}

<div class="kopa-entry-post">


    <div class="kopa-entry-post post-1486 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard">

        <header class="clearfix">

            <h4 class="entry-title">@if (Model != null)
            { <text>@Model.Name</text>}
            else {
                <text>Giới thiệu</text>
            } </h4>

            <div class="entry-meta clearfix">
                <p class="entry-date">Posted:<span>June 19, 2014</span></p>
                <p class="entry-categories">in:&nbsp;<a href="" rel="category">People</a></p>
                <p class="entry-comment"><a href="">No Comment</a></p>
            </div>
            <div class="kopa-social-link">
                <ul class="clearfix">
                    <li><a href="" title="Facebook" target="_blank" class="fa fa-facebook"></a></li>
                    <li><a href="" title="Twitter" target="_blank" class="fa fa-twitter"></a></li>
                    <li><a href="" title="Google" target="_blank" class="fa fa-google-plus"></a></li>
                    <li><a href="" title="Pinterest" target="_blank" class="fa fa-pinterest"></a></li>
                    <li><a href="" title="Email" target="_blank" class="fa fa-envelope"></a></li>
                </ul>
            </div>
        </header>
        <div class="entry-content">
            <div class="entry-content">
                <div id="lipsum">
                    @Html.Raw(Model.Content)
                    
                </div>
            </div>
        </div>
    </div>

</div>
