
@{
    ViewBag.Title = "gioithieu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section TopSlider{

    <section class="widget-area-1 clearfix">
        <div class="widget kopa-list-post-no-thumb clearfix">
            <span></span>

            <h3 class="widget-title">New<span>Stories</span></h3>

            <div class="list-post-main">
                <div class="owl-carousel owl-carousel1">
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index9e97.html?p=1486">Driving in Leather Driving Gloves</a></h4>
                            <span class="entry-date">June 19, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index3f68.html?p=1681">5 Maneras de Ahorrar en Los Viajes en Familia</a></h4>
                            <span class="entry-date">June 19, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexd5ec.html?p=1189">Drunk In Love &#8211; Beyonce ft. Jay Z</a></h4>
                            <span class="entry-date">June 10, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index62bc.html?p=754">The Gallery Library of Sammy</a></h4>
                            <span class="entry-date">May 15, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexd13e.html?p=719">Paul si Cristina Rad Wedding Day</a></h4>
                            <span class="entry-date">April 13, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexdc32.html?p=1309">Life Round Here (Feat. Angel Haze)</a></h4>
                            <span class="entry-date">March 11, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index5628.html?p=1305">Fashion Glasses Symmetrical</a></h4>
                            <span class="entry-date">February 11, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index4ac2.html?p=1331">Five Of London’s Best</a></h4>
                            <span class="entry-date">January 3, 2014</span>
                        </article>
                    </div>
                </div>
            </div>
        </div><!--/end widget.kopa-list-post-no-thumb-->
    </section>
}

<div class="kopa-entry-post">


    <div class="kopa-entry-post post-1486 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard">

        <header class="clearfix">

            <h4 class="entry-title">@ICB_Website.UI.Resources.RHome.AboutUS</h4>

            <div class="entry-meta clearfix">
                <p class="entry-date">Posted:<span>June 19, 2014</span></p>

                <p class="entry-categories">in:&nbsp;<a href="index363a.html?cat=45" rel="category">People</a></p>

                <p class="entry-comment"><a href="index9e97.html?p=1486#respond">No Comment</a></p>
            </div>

            <div class="kopa-social-link">
                <ul class="clearfix">
                    <li><a href="http://www.facebook.com/share.php?u=http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Facebook" target="_blank" class="fa fa-facebook"></a></li>
                    <li><a href="http://twitter.com/home?status=Driving%20in%20Leather%20Driving%20Gloves:+http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Twitter" target="_blank" class="fa fa-twitter"></a></li>
                    <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Google" target="_blank" class="fa fa-google-plus"></a></li>
                    <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486&amp;media=http://upsidethemes.net/demo/xmax/wp-content/uploads/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk53d9ua3ps37egwa.jpg&amp;description=Driving%20in%20Leather%20Driving%20Gloves" title="Pinterest" target="_blank" class="fa fa-pinterest"></a></li>
                    <li><a href="mailto:?subject=Xmax%3A+Driving+in+Leather+Driving+Gloves&amp;body=I+recommend+this+page%3A+Driving+in+Leather+Driving+Gloves.+You+can+read+it+on%3A+http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Email" target="_blank" class="fa fa-envelope"></a></li>
                </ul>
            </div>

        </header>

        <div class="entry-content">

            @*<div class="entry-thumb">
                <img src="wp-content/uploads/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk69ioe6z9agz239m.jpg" class="img-responsive" alt="Driving in Leather Driving Gloves" />
            </div>*@


            <div class="entry-content">
                <div id="lipsum">
                    <p style="text-align: left;"><span >&nbsp;</span></p>
                    <p style="text-align: left;"><span >Tổ chức chứng nhận quốc tế ICB được thành lập vào năm 2011, là tổ chức chứng nhận độc lập. ICB tiến hành các hoạt động chứng nhận các sản phẩm, hàng hóa, dịch vụ và quá trình phù hợp theo các tiêu chuẩn và quy chuẩn của ICB tuân theo Thông lệ quốc tế, Luật chất lượng sản phẩm hàng hóa, Luật tiêu chuẩn và quy chuẩn kỹ thuật.</span></p>
                    <p style="text-align: left;"><span >+ ICB được Cục An toàn Lao động – Bộ Lao động – Thương binh và Xã hội tin tưởng chỉ định là tổ chức đánh giá hợp quy các sản phẩm hàng hóa nhóm 2 do BLĐTBXH quản lý (chi tiết xem danh mục đính kèm)</span></p>
                    <p style="text-align: left;"><span >+ ICB đã được Tổng Cục Tiêu Chuẩn Đo Lường Chất Lượng của Bộ Khoa Học Công Nghệ công nhận đủ năng lực tiến hành hoạt động chứng nhận sản phẩm tại Việt Nam.</span></p>
                    <p style="text-align: left;" align="center"><span >+ ICB cũng đã được Tổ Chức Công Nhận Chất Lượng (BoA), Diễn Đàn Các Tổ Chức Công Nhận Quốc Tế (IAF) công nhận đủ năng lực tiến hành hoạt động chứng nhận trên toàn thế giới.</span></p>
                    <p style="text-align: left;" align="center"><span >&nbsp;</span></p>
                    <p><span >+ ICB : Tập hợp các chuyên gia hàng đầu về quản lý;</span></p>
                    <p><span >+ ICB : Tập hợp các chuyên gia kỹ thuật trong từng lĩnh vực chuyên biệt:<br><br><br></span></p>
                    <p style="text-align: left;"><span >&nbsp;</span></p><p></p></div>
            </div>


        </div>

        

    </div>
</div>

