
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section TopSlider{
    @Html.Partial("_sectionSlider")
}
<nav id="main-nav" class="kopa-main-nav kopa-relative clearfix">
    <ul id="main-menu" class="main-menu sf-menu clearfix">
        <li id="menu-item-1698" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1696 current_page_item menu-item-has-children menu-item-1698">
            <a href="index.html">Home</a>
            <ul class="sub-menu">
                <li id="menu-item-1699" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1699">
                    <a href="index-page_id=5.html">Home 1</a>
                    <ul class="sub-menu">
                        <li id="menu-item-1699" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1699">
                            <a href="index-page_id=5.html">Home 1</a>

                        </li>
                        <li id="menu-item-1657" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1657"><a href="index-page_id=939.html">Home 2</a></li>
                        <li id="menu-item-1656" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1656"><a href="index-page_id=941.html" style="border-right: none;">Home 3</a></li>
                    </ul>
                </li>
                <li id="menu-item-1657" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1657"><a href="index-page_id=939.html">Home 2</a></li>
                <li id="menu-item-1656" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1656"><a href="index-page_id=941.html" style="border-right: none;">Home 3</a></li>
            </ul>
        </li>
        <li id="menu-item-1659" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1659">
            <a href="index-page_id=54.html">Blogpost</a>
            <ul class="sub-menu">
                <li id="menu-item-1674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1674"><a href="index-page_id=54.html">Blog 1</a></li>
                <li id="menu-item-1672" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1672"><a href="index-cat=45.html" style="border-right: none;">Blog 2</a></li>
            </ul>
        </li>
        <li id="menu-item-1665" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1665">
            <a href="index.html#">Single Post</a>
            <ul class="sub-menu">
                <li id="menu-item-1666" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1666"><a href="index-p=1486.html">Single Style 1</a></li>
                <li id="menu-item-1679" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1679"><a href="index-p=721.html">Single Style 2</a></li>
                <li id="menu-item-1667" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1667"><a href="index-p=1189.html">Audio format</a></li>
                <li id="menu-item-1668" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1668"><a href="index-p=754.html">Gallery format</a></li>
                <li id="menu-item-1669" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1669"><a href="index-p=719.html" style="border-right: none;">Video format</a></li>
            </ul>
        </li>
        <li id="menu-item-1660" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1660">
            <a href="index-page_id=50.html">Video</a>            <div class="sf-mega col-md-push-2 col-sm-push-2 col-xs-push-2 col-md-6 col-sm-6 col-xs-6">
                <div class="sf-mega-section col-md-6 col-xs-6 col-sm-6">
                    <div id="kopa-posts-list-carousel-single-2" class="widget kopa-posts-list-carousel-single clearfix">
                        <h3 class="widget-title">Feature</h3>            <div class="owl-carousel menu-owl-carousel">
                            <div class="post-1486 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard item">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=1486.html" title="Driving in Leather Driving Gloves"><img src="wp-content/uploads/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5hujvdjm7fmokju.jpg" alt="Driving in Leather Driving Gloves"></a>
                                    </div>
                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=1486.html" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h2>
                                    </div>
                                </article>
                            </div>
                            <div class="post-1681 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard item">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=1681.html" title="5 Maneras de Ahorrar en Los Viajes en Familia"><img src="wp-content/uploads/bfi_thumb/2816239243_c185caa78a_b-2xau0i28v0omhqloz3f6yy.jpg" alt="5 Maneras de Ahorrar en Los Viajes en Familia"></a>
                                    </div>
                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=1681.html" title="5 Maneras de Ahorrar en Los Viajes en Familia">5 Maneras de Ahorrar en Los Viajes en Familia</a></h2>
                                    </div>
                                </article>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="sf-mega-section col-md-6 col-xs-6 col-sm-6">
                    <div id="kopa-posts-list-square-thumbnail-2" class="widget kopa-posts-list-square-thumbnail clearfix">
                        <h3 class="widget-title">People</h3>            <ul class="sub-menu-list-article">
                            <li class="post-1486 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard clearfix">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=1486.html" title="Driving in Leather Driving Gloves"><img src="wp-content/uploads/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5728c0eemqkef4a.jpg" alt="Driving in Leather Driving Gloves"></a>
                                    </div>

                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=1486.html" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h2>
                                        <p class="entry-date">Posted:<span>June 19, 2014</span></p>
                                    </div>
                                </article>
                            </li>
                            <li class="post-1681 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard clearfix">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=1681.html" title="5 Maneras de Ahorrar en Los Viajes en Familia" style="border-right: none;"><img src="wp-content/uploads/bfi_thumb/2816239243_c185caa78a_b-2xau0i28k8d34le4a151je.jpg" alt="5 Maneras de Ahorrar en Los Viajes en Familia"></a>
                                    </div>

                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=1681.html" title="5 Maneras de Ahorrar en Los Viajes en Familia" style="border-right: none;">5 Maneras de Ahorrar en Los Viajes en Familia</a></h2>
                                        <p class="entry-date">Posted:<span>June 19, 2014</span></p>
                                    </div>
                                </article>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li id="menu-item-1662" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1662">
            <a href="index-page_id=52.html">Gallery</a>            <div class="sf-mega col-md-push-0 col-sm-push-0 col-xs-push-0 col-md-12 col-sm-12 col-xs-12">
                <div class="sf-mega-section col-md-3 col-xs-3 col-sm-3">
                    <div id="kopa-posts-list-carousel-single-2" class="widget kopa-posts-list-carousel-single clearfix">
                        <h3 class="widget-title">Feature</h3>            <div class="owl-carousel menu-owl-carousel">
                            <div class="post-1486 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard item">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=1486.html" title="Driving in Leather Driving Gloves"><img src="wp-content/uploads/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5hujvdjm7fmokju.jpg" alt="Driving in Leather Driving Gloves"></a>
                                    </div>
                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=1486.html" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h2>
                                    </div>
                                </article>
                            </div>
                            <div class="post-1681 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard item">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=1681.html" title="5 Maneras de Ahorrar en Los Viajes en Familia"><img src="wp-content/uploads/bfi_thumb/2816239243_c185caa78a_b-2xau0i28v0omhqloz3f6yy.jpg" alt="5 Maneras de Ahorrar en Los Viajes en Familia"></a>
                                    </div>
                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=1681.html" title="5 Maneras de Ahorrar en Los Viajes en Familia">5 Maneras de Ahorrar en Los Viajes en Familia</a></h2>
                                    </div>
                                </article>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="sf-mega-section col-md-3 col-xs-3 col-sm-3">
                    <div id="kopa-posts-list-square-thumbnail-2" class="widget kopa-posts-list-square-thumbnail clearfix">
                        <h3 class="widget-title">People</h3>            <ul class="sub-menu-list-article">
                            <li class="post-1486 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard clearfix">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=1486.html" title="Driving in Leather Driving Gloves"><img src="wp-content/uploads/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk5728c0eemqkef4a.jpg" alt="Driving in Leather Driving Gloves"></a>
                                    </div>

                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=1486.html" title="Driving in Leather Driving Gloves">Driving in Leather Driving Gloves</a></h2>
                                        <p class="entry-date">Posted:<span>June 19, 2014</span></p>
                                    </div>
                                </article>
                            </li>
                            <li class="post-1681 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard clearfix">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=1681.html" title="5 Maneras de Ahorrar en Los Viajes en Familia" style="border-right: none;"><img src="wp-content/uploads/bfi_thumb/2816239243_c185caa78a_b-2xau0i28k8d34le4a151je.jpg" alt="5 Maneras de Ahorrar en Los Viajes en Familia"></a>
                                    </div>

                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=1681.html" title="5 Maneras de Ahorrar en Los Viajes en Familia" style="border-right: none;">5 Maneras de Ahorrar en Los Viajes en Familia</a></h2>
                                        <p class="entry-date">Posted:<span>June 19, 2014</span></p>
                                    </div>
                                </article>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="sf-mega-section col-md-3 col-xs-3 col-sm-3">
                    <div id="kopa-posts-list-square-thumbnail-5" class="widget kopa-posts-list-square-thumbnail clearfix">
                        <h3 class="widget-title">Sunlight</h3>            <ul class="sub-menu-list-article">
                            <li class="post-754 post type-post status-publish format-gallery has-post-thumbnail hentry category-fashion tag-gallery tag-post clearfix">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=754.html" title="The Gallery Library of Sammy"><img src="wp-content/uploads/bfi_thumb/Cafe-Workspace-with-Diary-2xau0iba8tfgoovv1ricqy.jpg" alt="The Gallery Library of Sammy"></a>
                                    </div>

                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=754.html" title="The Gallery Library of Sammy">The Gallery Library of Sammy</a></h2>
                                        <p class="entry-date">Posted:<span>May 15, 2014</span></p>
                                    </div>
                                </article>
                            </li>
                            <li class="post-719 post type-post status-publish format-video has-post-thumbnail hentry category-sunlights tag-post tag-video tag-vimeo clearfix">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=719.html" title="Paul si Cristina Rad Wedding Day" style="border-right: none;"><img src="wp-content/uploads/bfi_thumb/Wedding-Sign-2xau0iba8tfgoovv1ricqy.jpg" alt="Paul si Cristina Rad Wedding Day"></a>
                                    </div>

                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=719.html" title="Paul si Cristina Rad Wedding Day" style="border-right: none;">Paul si Cristina Rad Wedding Day</a></h2>
                                        <p class="entry-date">Posted:<span>April 13, 2014</span></p>
                                    </div>
                                </article>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="sf-mega-section col-md-3 col-xs-3 col-sm-3">
                    <div id="kopa-posts-list-square-thumbnail-3" class="widget kopa-posts-list-square-thumbnail clearfix">
                        <h3 class="widget-title">Fashion</h3>            <ul class="sub-menu-list-article">
                            <li class="post-754 post type-post status-publish format-gallery has-post-thumbnail hentry category-fashion tag-gallery tag-post clearfix">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=754.html" title="The Gallery Library of Sammy"><img src="wp-content/uploads/bfi_thumb/Cafe-Workspace-with-Diary-2xau0iba8tfgoovv1ricqy.jpg" alt="The Gallery Library of Sammy"></a>
                                    </div>

                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=754.html" title="The Gallery Library of Sammy">The Gallery Library of Sammy</a></h2>
                                        <p class="entry-date">Posted:<span>May 15, 2014</span></p>
                                    </div>
                                </article>
                            </li>
                            <li class="post-1309 post type-post status-publish format-audio has-post-thumbnail hentry category-fashion tag-audio tag-post tag-soundcloud clearfix">
                                <article class="entry-item clearfix">
                                    <div class="entry-thumb">
                                        <a href="index-p=1309.html" title="Life Round Here (Feat. Angel Haze)" style="border-right: none;"><img src="wp-content/uploads/bfi_thumb/Speed-Run-2xau0ht6vnapkhwdiarqbu.jpg" alt="Life Round Here (Feat. Angel Haze)"></a>
                                    </div>

                                    <div class="entry-content">
                                        <h2 class="entry-title"><a href="index-p=1309.html" title="Life Round Here (Feat. Angel Haze)" style="border-right: none;">Life Round Here (Feat. Angel Haze)</a></h2>
                                        <p class="entry-date">Posted:<span>March 11, 2014</span></p>
                                    </div>
                                </article>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li id="menu-item-1661" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1661"><a href="index-page_id=36.html">Elements</a></li>
        <li id="menu-item-1658" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1658"><a href="index-page_id=58.html" style="border-right: none;">Contact</a></li>
    </ul>
</nav>
@section scripts{
    <script>
        $(document).ready(function () {
            var exampleOptions = {
                speed: 'fast'
            }
            // initialise plugin
            var example = $('#example').superfish(exampleOptions);
        })
    </script>
}
