
@{
    ViewBag.Title = "gioithieu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section TopSlider{

    <section class="widget-area-1 clearfix">
        <div class="widget kopa-list-post-no-thumb clearfix">
            <span></span>

            <h3 class="widget-title">New<span>Stories</span></h3>

            <div class="list-post-main">
                <div class="owl-carousel owl-carousel1">
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index9e97.html?p=1486">Driving in Leather Driving Gloves</a></h4>
                            <span class="entry-date">June 19, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index3f68.html?p=1681">5 Maneras de Ahorrar en Los Viajes en Familia</a></h4>
                            <span class="entry-date">June 19, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexd5ec.html?p=1189">Drunk In Love &#8211; Beyonce ft. Jay Z</a></h4>
                            <span class="entry-date">June 10, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index62bc.html?p=754">The Gallery Library of Sammy</a></h4>
                            <span class="entry-date">May 15, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexd13e.html?p=719">Paul si Cristina Rad Wedding Day</a></h4>
                            <span class="entry-date">April 13, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="indexdc32.html?p=1309">Life Round Here (Feat. Angel Haze)</a></h4>
                            <span class="entry-date">March 11, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index5628.html?p=1305">Fashion Glasses Symmetrical</a></h4>
                            <span class="entry-date">February 11, 2014</span>
                        </article>
                    </div>
                    <div class="item">
                        <article class="entry-item clearfix">
                            <h4 class="entry-title"><a href="index4ac2.html?p=1331">Five Of London’s Best</a></h4>
                            <span class="entry-date">January 3, 2014</span>
                        </article>
                    </div>
                </div>
            </div>
        </div><!--/end widget.kopa-list-post-no-thumb-->
    </section>
}

<div class="kopa-entry-post">


    <div class="kopa-entry-post post-1486 post type-post status-publish format-standard has-post-thumbnail hentry category-people tag-post tag-standard">

        <header class="clearfix">

            <h4 class="entry-title">Driving in Leather Driving Gloves</h4>

            <div class="entry-meta clearfix">
                <p class="entry-date">Posted:<span>June 19, 2014</span></p>

                <p class="entry-categories">in:&nbsp;<a href="index363a.html?cat=45" rel="category">People</a></p>

                <p class="entry-comment"><a href="index9e97.html?p=1486#respond">No Comment</a></p>
            </div>

            <div class="kopa-social-link">
                <ul class="clearfix">
                    <li><a href="http://www.facebook.com/share.php?u=http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Facebook" target="_blank" class="fa fa-facebook"></a></li>
                    <li><a href="http://twitter.com/home?status=Driving%20in%20Leather%20Driving%20Gloves:+http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Twitter" target="_blank" class="fa fa-twitter"></a></li>
                    <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Google" target="_blank" class="fa fa-google-plus"></a></li>
                    <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486&amp;media=http://upsidethemes.net/demo/xmax/wp-content/uploads/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk53d9ua3ps37egwa.jpg&amp;description=Driving%20in%20Leather%20Driving%20Gloves" title="Pinterest" target="_blank" class="fa fa-pinterest"></a></li>
                    <li><a href="mailto:?subject=Xmax%3A+Driving+in+Leather+Driving+Gloves&amp;body=I+recommend+this+page%3A+Driving+in+Leather+Driving+Gloves.+You+can+read+it+on%3A+http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Email" target="_blank" class="fa fa-envelope"></a></li>
                </ul>
            </div>

        </header>

        <div class="entry-content">

            @*<div class="entry-thumb">
                    <img src="wp-content/uploads/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk69ioe6z9agz239m.jpg" class="img-responsive" alt="Driving in Leather Driving Gloves" />
                </div>*@


            <div class="entry-content">
                <div id="lipsum">
                    <p>Aenean dui lectus, accumsan nec nulla sit amet, consectetur iaculis neque. Ut nec odio sem. Donec aliquam posuere imperdiet. Morbi luctus dolor id fringilla sagittis. Nulla fermentum risus nec accumsan mollis. Integer sit amet dui non tellus faucibus luctus vel ac neque. Praesent in adipiscing odio. Fusce egestas, ante vel varius vehicula, ipsum augue tincidunt est, sed rutrum enim neque venenatis enim. Aenean vel vestibulum lacus. Curabitur vel eros at nunc ultricies malesuada. Praesent vitae dolor lobortis, cursus nulla sed, euismod quam. Quisque scelerisque velit a mollis sodales.</p>
                    <p>Integer tempus laoreet lorem, quis auctor ante interdum id. Vivamus facilisis leo sed diam suscipit congue. Nam dolor est, imperdiet non urna sed, eleifend consequat magna. In hac habitasse platea dictumst. Curabitur lobortis diam suscipit lorem tristique, eu porttitor lorem fermentum. Morbi vehicula, tellus sit amet laoreet fermentum, leo urna commodo justo, at faucibus mi turpis ut eros. Aliquam id volutpat ligula. Phasellus quis odio convallis tortor posuere convallis ut vitae elit. Sed dapibus gravida augue et aliquet.</p>
                    <p>Curabitur diam enim, suscipit ac elit non, imperdiet ornare urna. Nunc in tempor dolor, eget gravida odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam lacinia consectetur urna. Etiam nulla ipsum, tempus ut viverra vel, imperdiet sed nibh. Ut leo mauris, laoreet eget diam in, tristique feugiat metus. Sed placerat dolor in lacus aliquet consequat nec placerat velit. Pellentesque tincidunt pellentesque sem. Morbi eu leo ac augue vestibulum accumsan. Etiam venenatis euismod condimentum. Quisque nec libero ut justo laoreet congue. Mauris ut augue varius, egestas arcu eu, rhoncus augue. Vivamus in dui in nisl tempus hendrerit at eu libero.</p>
                    <p>Etiam sem ante, rhoncus vel tincidunt ac, dapibus ut felis. Nam pharetra nunc sed diam varius tincidunt. Nunc pellentesque velit eleifend leo pharetra vehicula. Nunc vitae ante in diam euismod elementum ut in mi. Etiam vel dictum sem, at faucibus neque. In vitae auctor enim. Aenean id lectus quis orci fermentum condimentum vitae sed sapien. Proin mauris sapien, tincidunt ac purus et, tempor faucibus dui. Proin sed condimentum eros, id hendrerit turpis. Maecenas diam justo, laoreet at sodales ut, facilisis ac nibh. Sed cursus, orci sed vestibulum pharetra, risus ipsum commodo quam, eget egestas leo sapien eu elit. Nulla luctus enim eget elit auctor facilisis. Suspendisse luctus ornare est, a egestas nunc pulvinar vitae. Proin tellus mi, dictum quis ligula id, viverra mollis nisl. Curabitur sollicitudin aliquam dolor, ut vulputate sapien. Sed sit amet neque erat.</p>
                    <p>Donec semper purus arcu, eget blandit erat tincidunt nec. Pellentesque ornare, tellus ut rutrum mattis, elit nisl hendrerit lorem, quis interdum orci urna nec sapien. Aliquam rutrum nunc id nisl blandit fringilla. Cras scelerisque eget augue in blandit. Integer elementum vulputate ante ac vestibulum. Nunc vitae justo sit amet neque fringilla ullamcorper vitae in leo. Pellentesque tempor laoreet pellentesque. Nunc eget cursus leo, vitae condimentum eros.</p>
                    <p>Nullam ultricies nisi ut diam tincidunt rhoncus. Nulla commodo quam velit, nec iaculis nisl luctus a. Fusce et ullamcorper augue, eu tristique justo. Nullam ultrices orci ante, in malesuada nisl rutrum sit amet. Integer eleifend non orci at elementum. Aenean pretium bibendum purus, pulvinar mattis neque varius sit amet. Phasellus pharetra elit ac molestie imperdiet. Maecenas et enim nibh. Fusce vitae ultricies massa. Suspendisse potenti. Vestibulum ultricies sem nec felis faucibus egestas sed eu enim. Aliquam ornare dapibus ipsum, in pretium ligula ornare a.</p>
                    <p>Nunc nec ullamcorper risus. Phasellus iaculis augue justo, egestas molestie nulla suscipit vel. Vestibulum mattis ipsum ultrices, posuere erat eget, elementum lorem. Nulla id nisi ultrices, hendrerit tellus et, rutrum nunc. Suspendisse potenti. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam feugiat lorem sit amet velit viverra, euismod pellentesque nisi bibendum. Phasellus semper libero lacus, eu posuere nibh semper ut. Suspendisse potenti. Curabitur blandit ac ligula ut sodales. Mauris hendrerit dolor eu lacus eleifend, eget aliquam justo adipiscing.</p>
                    <p>Donec urna ligula, ullamcorper in dictum et, congue in enim. Maecenas quis interdum elit. Cras eleifend malesuada augue sed lacinia. Maecenas congue ultrices massa at fermentum. Ut eu malesuada arcu. Vivamus convallis consectetur lorem, ac pulvinar ligula venenatis quis. Nulla iaculis semper sem in adipiscing. Duis ultricies orci eu tincidunt iaculis. Praesent aliquet sollicitudin adipiscing. Quisque libero odio, egestas vitae felis non, pulvinar eleifend lectus. Maecenas ac malesuada nisl, vitae mollis augue. Sed at mollis libero. Maecenas pharetra mi eu tortor placerat, vitae consectetur risus dictum. Pellentesque id cursus massa.</p>
                    <p>Sed sit amet erat eu libero lobortis dignissim vitae quis leo. Duis orci neque, gravida sit amet mi eget, auctor lobortis turpis. Quisque sit amet malesuada nulla. Sed accumsan, arcu ut interdum vestibulum, est dui dignissim est, vel laoreet libero urna a lacus. Integer vitae porttitor quam, vitae sagittis quam. Vivamus hendrerit tellus felis, quis dignissim sapien laoreet sed. Donec id nulla sed mi convallis pellentesque eget sed tellus. Ut eu viverra orci. Integer euismod eros quis neque aliquet vehicula. Maecenas tempor at velit in accumsan. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Mauris ullamcorper tortor vel eros molestie feugiat. Vestibulum interdum mauris est, ac scelerisque dui viverra eu. Aliquam neque diam, dictum a eros ut, pretium faucibus nunc. In luctus mi augue, at consequat felis cursus quis. Etiam nec pharetra tortor, id tempor velit. In dapibus erat turpis, vel interdum lacus hendrerit a. Sed odio mauris, aliquam id consectetur at, commodo tincidunt augue.</p>
                </div>
            </div>


        </div>

        <div class="single-post-bottom">
            <div class="kopa-social-link">
                <ul class="clearfix">
                    <li><a href="http://www.facebook.com/share.php?u=http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Facebook" target="_blank" class="fa fa-facebook"></a></li>
                    <li><a href="http://twitter.com/home?status=Driving%20in%20Leather%20Driving%20Gloves:+http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Twitter" target="_blank" class="fa fa-twitter"></a></li>
                    <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Google" target="_blank" class="fa fa-google-plus"></a></li>
                    <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486&amp;media=http://upsidethemes.net/demo/xmax/wp-content/uploads/bfi_thumb/Driving-in-Leather-Driving-Gloves-2xau0hk53d9ua3ps37egwa.jpg&amp;description=Driving%20in%20Leather%20Driving%20Gloves" title="Pinterest" target="_blank" class="fa fa-pinterest"></a></li>
                    <li><a href="mailto:?subject=Xmax%3A+Driving+in+Leather+Driving+Gloves&amp;body=I+recommend+this+page%3A+Driving+in+Leather+Driving+Gloves.+You+can+read+it+on%3A+http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486" title="Email" target="_blank" class="fa fa-envelope"></a></li>
                </ul>
            </div>


            <div class="kopa-tag-box">
                <ul class="clearfix">
                    <li><a class="entry-tag" href="indexc7e9.html?tag=post" title="View all in post">post</a></li>
                    <li><a class="entry-tag" href="indexecab.html?tag=standard" title="View all in standard">standard</a></li>
                </ul>
            </div>
        </div>


        <div class="kopa-related-post clearfix">

            <div class="prev-post">
                <div class="entry-item clearfix">
                    <h4 class="entry-title"><a href="index3f68.html?p=1681" title="5 Maneras de Ahorrar en Los Viajes en Familia">5 Maneras de Ahorrar en Los Viajes en Familia</a></h4>
                    <p class="entry-date">Posted:<span>June 19, 2014</span></p>
                </div>
                <a href="index3f68.html?p=1681" title="5 Maneras de Ahorrar en Los Viajes en Familia" class="btn-prev fa fa-angle-left"></a>
            </div>

        </div>



        <div class="kopa-recent-post">
            <h3 class="recent-title">Related articles</h3>
            <ul class="clearfix">

                <li>
                    <article class="entry-item">
                        <div class="entry-content">
                            <header>
                                <h4 class="entry-title"><a href="index3f68.html?p=1681" title="5 Maneras de Ahorrar en Los Viajes en Familia">5 Maneras de Ahorrar en Los Viajes en Familia</a></h4>
                                <p class="entry-date">Posted:<span>June 19, 2014</span></p>
                            </header>
                            <p>Aliquam erat volutpat. Morbi pretium odio sit amet lorem bibendum commodo. Vivamus orci lacus, pharetra sed dolor sed, tempus molestie est. Duis tincidunt non erat nec congue. In hac habitasse platea dictumst. Maecenas sed orci nec ligula porta vehicula vitae accumsan purus. In lacus neque, gravida ut bibendum vel, faucibus consequat tortor. Aliquam quam mauris, [&hellip;]</p>
                        </div>
                    </article>
                </li>

                <li>
                    <article class="entry-item">
                        <div class="entry-content">
                            <header>
                                <h4 class="entry-title"><a href="indexd5ec.html?p=1189" title="Drunk In Love &#8211; Beyonce ft. Jay Z">Drunk In Love &#8211; Beyonce ft. Jay Z</a></h4>
                                <p class="entry-date">Posted:<span>June 10, 2014</span></p>
                            </header>
                            <p>Phasellus feugiat venenatis volutpat. Sed posuere convallis eleifend. Nulla id ante quis neque tristique ultricies eget eget nisi. Fusce eleifend, massa et egestas iaculis, enim mi accumsan arcu, in eleifend est risus nec quam. Sed dapibus tincidunt nisl, vel elementum odio pulvinar ac. Fusce lorem diam, lacinia vel malesuada quis, tempor in nisl. Ut aliquam [&hellip;]</p>
                        </div>
                    </article>
                </li>

                <li>
                    <article class="entry-item">
                        <div class="entry-content">
                            <header>
                                <h4 class="entry-title"><a href="index62bc.html?p=754" title="The Gallery Library of Sammy">The Gallery Library of Sammy</a></h4>
                                <p class="entry-date">Posted:<span>May 15, 2014</span></p>
                            </header>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into [&hellip;]</p>
                        </div>
                    </article>
                </li>

                <li>
                    <article class="entry-item">
                        <div class="entry-content">
                            <header>
                                <h4 class="entry-title"><a href="indexd13e.html?p=719" title="Paul si Cristina Rad Wedding Day">Paul si Cristina Rad Wedding Day</a></h4>
                                <p class="entry-date">Posted:<span>April 13, 2014</span></p>
                            </header>
                            <p>Various versions long version fact that distribution reader will be distracted by the readable content Lorem Ipsum page.… Lorem Ipsum containing Lorem Ipsum passages simply dummy text desktop publishing software printing and typesetting industry. Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text [&hellip;]</p>
                        </div>
                    </article>
                </li>
            </ul>
        </div>

        <!--/kopa-recent-post-->

        <div class="kopa-author clearfix">
            <span></span>

            <a class="avatar-thumb" href="index3f71.html?author=2" title=""><img alt='' src='http://0.gravatar.com/avatar/?s=91&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/?s=182&amp;d=mm&amp;r=g 2x' class='avatar avatar-91 photo avatar-default' height='91' width='91' /></a>

            <div class="author-content media-body">
                <div class="author-social-link">
                    <div class="kopa-relative">




                    </div>
                </div>

                <header class="clearfix">
                    <div class="pull-left">
                        <h5 class="author-name"><a href="index3f71.html?author=2" title=""></a></h5>
                    </div>
                </header>


            </div>

        </div>
        <!--/kopa-about-author-->

    </div>

    <div id="comments">
        <div id="respond">
            <h4 id="reply-title" class="comment-reply-title clearfix">Leave a Reply</h4>

            <p class="must-log-in">You must be <a href="wp-loginb04c.html?redirect_to=http%3A%2F%2Fupsidethemes.net%2Fdemo%2Fxmax%2F%3Fp%3D1486">logged in</a> to post a comment.</p>
        </div><!-- #respond -->
    </div>
</div>

