@{
    Layout = null;
}

<div class="modal fade" id="modal-category-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Thêm mới nhóm danh mục</h4>
            </div>
            <form class="form-horizontal form-no-bottom" id="frm-add-category" onsubmit="return false" novalidate>
                <div class="modal-body">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">Tên nhóm<span class="text-required">(*)</span>: </label>
                        <div class="col-md-8">
                            <input class="form-control" name="Name" placeholder="Tên nhóm" />
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">Mô tả<span class="text-required">(*)</span>: </label>
                        <div class="col-md-8">
                            <textarea class="form-control" name="Title" rows="4" placeholder="Mô tả nhóm danh mục"></textarea>
                            <span class="help-block"></span>
                        </div>

                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">Tên nhóm(ENG): </label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="NameENG" placeholder="Tên nhóm tiếng anh" />
                            <span class="help-block"></span>
                        </div>

                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">Mô tả(ENG): </label>
                        <div class="col-md-8">
                            <textarea class="form-control" name="TitleENG" rows="4" placeholder="Mô tả nhóm (Tiếng anh)"></textarea>
                            <span class="help-block"></span>
                        </div>

                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">Hiển thị: </label>
                        <div class="col-md-8">
                            <select name="Order" class="form-control">
                                <option value="1">Bên trái</option>
                                <option value="4">Bên phải</option>
                            </select>
                            <span class="help-block"></span>
                        </div>

                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4">&nbsp;</label>
                        <div class="col-md-8">
                            <label class="checkbox"><input class="" checked="checked" type="checkbox" name="Active" />&nbsp;&nbsp; Sử dụng</label>
                            <span class="help-block"></span>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-add-category-submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp; Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-remove"></i>&nbsp;&nbsp; Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>
