<div id="footer">
    <div class="container">
        <div class="row" style="padding: 20px 0px;">
            <div class="col-md-7">
                <div class="col-md-3 bv-logo-footer">

                </div>
                <div class="col-md-9">
                    <div class="form-group bv-footer" style="margin: 7px;">
                        @*<h5><b>BỆNH VIỆN ĐA KHOA KHU VỰC NHỊ CHIỂU</b></h5>
                        <div>Thị trấn Phú Thứ - Kinh Môn - Hải Dương</div>
                        <div>Tel: (0320) 3.821.339</div>
                        <div>Email: www.bvnhichieu.vn</div>*@
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div class="form-group" style="margin: 7px; text-align: right; float: right;">
                    <div>Đang online : 1 | Tổng lượt truy cập : 30012</div>
                    <div class="col-md-10" style="float: right; margin-right: -25px; margin-top: 10px;">
                        <span class="fa fa-facebook fa-2x" style="color: #fff;"></span>&nbsp;&nbsp;
                        <span class="fa fa-youtube fa-2x" style="color: #fff;"></span>&nbsp;&nbsp;
                        <span class="fa fa-twitter fa-2x" style="color: #fff;"></span>&nbsp;&nbsp;
                    </div>
                    <div style="float: right; margin-top: 10px;">Design by <a href="http://vssoft.vn/" style="color: #ff0000;">Vssoft</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
