<!-- SLIDER-->
<style>
    .text2 {
        color: #fff;
        font-size: 35px;
        padding: 100px 20px;
        position: absolute;
        width: 100%;
        background: -moz-linear-gradient(left, rgba(251, 249, 251,0) 0%, rgba(251, 249, 251,0.84) 13%, rgba(251, 249, 251,0.91) 20%, rgba(251, 249, 251,0.98) 27%, rgba(251, 249, 251,0.99) 36%, rgba(251, 249, 251,1) 44%, rgba(251, 249, 251,1) 63%, rgba(251, 249, 251,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(251, 249, 251,0) 0%,rgba(251, 249, 251,0.84) 13%,rgba(251, 249, 251,0.91) 20%,rgba(251, 249, 251,0.98) 27%,rgba(251, 249, 251,0.99) 36%,rgba(251, 249, 251,1) 44%,rgba(251, 249, 251,1) 63%,rgba(251, 249, 251,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(251, 249, 251,0) 0%,rgba(251, 249, 251,0.84) 13%,rgba(251, 249, 251,0.91) 20%,rgba(251, 249, 251,0.98) 27%,rgba(251, 249, 251,0.99) 36%,rgba(251, 249, 251,1) 44%,rgba(251, 249, 251,1) 63%,rgba(251, 249, 251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
        height: 300px;
        line-height: 300px;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
</style>
<marquee scrollamount="200" scrolldelay="5000" direction="left" style="background-color: #efeeee; height:30px">
    <span style="color: #0e61ad; line-height:30px; font-size:18px;" id="bv-slogan" class="text-center"></span>
</marquee>
<div id="slider" class="slider img-responsive form-group" style="margin-top: -5px;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            @*<li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>*@
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <div class="text2 row" style="margin-left:80px">
                            <div class="col-md-4 right" style="width: 140px">
                                <a class="bv-logo" href="@Url.Action("index", "trangchu")">
                                </a>
                            </div>
                            <div class="col-md-8 bv-name left">
                                @*<h3 style="font-weight: bold; color: #ff0000;">BỆNH VIỆN ĐA KHOA</h3>
                                <h3 style="font-weight: bold; color: #ff0000; margin-top: -5px; ">KHU VỰC NHỊ CHIỂU</h3>*@
                                @*<div><h4 style="color: #337ab7" class="text-center">"TẤT CẢ VÌ SỰ HÀI LÒNG CỦA NGƯỜI BỆNH"</h4></div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <img class="first-slide" src="~/Content/images/slider1.png" alt="First slide" style="height: 300px;" />
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <div class="text2 row" style="margin-left:80px">
                            <div class="col-md-4 right" style="width: 140px">
                                <a class="bv-logo" href="@Url.Action("index", "trangchu")">
                                </a>
                            </div>
                            <div class="col-md-8 bv-name left">
                                <h3 style="font-weight: bold; color: #ff0000;">BỆNH VIỆN ĐA KHOA</h3>
                                <h3 style="font-weight: bold; color: #ff0000; margin-top: -5px; ">HUYỆN TỨ KỲ</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="first-slide" src="~/Content/images/slider2.png" alt="Second slide" style="height: 300px;" />
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <div class="text2 row" style="margin-left:80px">
                            <div class="col-md-4 right" style="width: 140px">
                                <a class="bv-logo" href="@Url.Action("index", "trangchu")">
                                </a>
                            </div>
                            <div class="col-md-8 bv-name left">
                                <h3 style="font-weight: bold; color: #ff0000;">BỆNH VIỆN ĐA KHOA</h3>
                                <h3 style="font-weight: bold; color: #ff0000; margin-top: -5px; ">HUYỆN TỨ KỲ</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="first-slide" src="~/Content/images/slider3.png" alt="Third slide" style="height: 300px;" />
            </div>
        </div>

        @*<a class="right carousel-control" href="#myCarousel" role="button" style="width: 800px;">
                <div class="row" style="margin-top: 80px; width: 450px; float: right;">
                    <div class="col-md-4">
                        <img class="img-responsive" src="~/Content/images/logo_chilinh.png" style="height: 120px;" />
                    </div>
                    <div class="col-md-8">
                        <h3 style="font-weight: bold; color: #1e71b3;">BỆNH VIỆN ĐA KHOA</h3>
                        <h3 style="font-weight: bold; color: #ff0206; ">KHU VỰC NHỊ CHIỂU</h3>
                    </div>
                </div>
            </a>*@
    </div>
</div>