
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/images/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-nav="khoaphong">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li><a data-nav="dashboard" href=""><i class="fa fa-circle-o"></i> Biểu đồ</a></li>
                </ul>
            </li>
            <li>
                <a data-nav="hosobenhnhan" href="">
                    <i class="fa fa-stethoscope"></i> <span>Hồ sơ bệnh nhân</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-aqua-gradient">430</small>
                    </span>
                </a>
            </li>
            <li>
                <a data-nav="khambenh" href="">
                    <i class="fa fa-user-md"></i> <span>Khám bệnh</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-aqua">12</small>
                    </span>
                </a>
            </li>
            <li>
                <a data-nav="dieutri" href="">
                    <i class="fa fa-stethoscope"></i> <span>Điều trị</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-blue">43</small>
                    </span>
                </a>
            </li>
            <li class=" treeview">
                <a href="#">
                    <i class="fa fa-medkit"></i> <span>Quản lý dược</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a data-nav="nhapduoc" href="">
                            <i class="fa fa-tag"></i> Nhập dược
                            <span class="pull-right-container">
                                @*<i class="fa fa-angle-left pull-right"></i>*@
                            </span>
                        </a>

                    </li>

                    <li>
                        <a data-nav="xuatduoc" href="">
                            <i class="fa fa-tag"></i> Xuất dược
                            <span class="pull-right-container">
                                @*<i class="fa fa-angle-left pull-right"></i>*@
                            </span>
                        </a>

                    </li>
                    <li>
                        <a data-nav="xuatduocngoaitru" href="">
                            <i class="fa fa-tag"></i> Xuất dược ngoại trú
                            <span class="pull-right-container">
                                @*<i class="fa fa-angle-left pull-right"></i>*@
                            </span>
                        </a>

                    </li>
                    <li>
                        <a data-nav="xuatduocnoitru" href="">
                            <i class="fa fa-tag"></i> Xuất dược nội trú
                            <span class="pull-right-container">
                                @*<i class="fa fa-angle-left pull-right"></i>*@
                            </span>
                        </a>

                    </li>

                </ul>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-dollar"></i> <span>Viện phí</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-red">VP</small>
                    </span>
                </a>
            </li>
            <li class=" treeview">
                <a href="#">
                    <i class="fa fa-file-o"></i> <span>Báo cáo</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-tag"></i> Báo cáo khoa dược
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-tag"></i> Báo cáo BHYT
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-tag"></i> Báo cáo viện phí
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-tag"></i> Báo cáo thống kê
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-tag"></i> Báo cáo cận lâm sàng
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                    </li>

                </ul>
            </li>
            <li class=" treeview">
                <a href="#">
                    <i class="fa fa-tags"></i> <span>Danh mục</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="">
                        <a href="#">
                            <i class="fa fa-tag"></i> Hành chính
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a data-nav="khoaphong" href=""><i class="fa fa-circle-o"></i> Khoa - Phòng</a></li>
                            <li><a data-nav="canbo" href=""><i class="fa fa-circle-o"></i> Cán bộ</a></li>
                            <li><a data-nav="dantoc" href=""><i class="fa fa-circle-o"></i> Dân tộc</a></li>
                            <li><a data-nav="benhvien" href=""><i class="fa fa-circle-o"></i> Bệnh viện</a></li>
                            <li><a data-nav="nghenghiep" href=""><i class="fa fa-circle-o"></i> Nghề nghiệp</a></li>
                            <li><a data-nav="doituongbenhnhan" href=""><i class="fa fa-circle-o"></i> Đối tượng bệnh nhân</a></li>
                            <li><a data-nav="icd" href=""><i class="fa fa-circle-o"></i> ICD 10</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-tag"></i> Khoa dược
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a data-nav="duoc" href=""><i class="fa fa-circle-o"></i> Dược</a></li>
                            <li><a data-nav="nhacungcap" href=""><i class="fa fa-circle-o"></i> Nhà cung cấp</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-tag"></i> Viện phí
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a data-nav="nhomdichvu" href=""><i class="fa fa-circle-o"></i> Nhóm dịch vụ</a></li>
                            <li><a data-nav="tieunhomdichvu" href=""><i class="fa fa-circle-o"></i> Tiểu nhóm dịch vụ</a></li>
                            <li><a data-nav="dichvu" href=""><i class="fa fa-circle-o"></i> Dịch vụ</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-tag"></i> Cận lâm sàng
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a data-nav="dichvuchitiet" href=""><i class="fa fa-circle-o"></i> Dịch vụ chi tiết</a></li>
                            <li><a data-nav="ketquamau" href=""><i class="fa fa-circle-o"></i> Kết quả mẫu</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li>
                <a data-nav="hethong" href="">
                    <i class="fa fa-cog"></i> <span>Hệ thống</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-yellow">setting</small>
                    </span>
                </a>
            </li>
            <li>
                <a href="#" data-nav="hotro">
                    <i class="fa fa-question-circle-o"></i> <span>Hỗ trợ</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-aqua">SP</small>
                    </span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
